.homepage {
    background-image: url('../../assets/images/woodenbackground1.jpeg');
    // height: 2000px;
    // width: 100%;
    // rotate: ;
    // transform: rotate(90deg);
    background-size: cover;
    height: 3000px; /* delete once everything has been added */
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
}