@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;

* {
    box-sizing: border-box;
    color: $DarkBrown;
}

.learn-more {
    width: 100%;

    &__button {
        border-radius: 10px;
        outline: none;
        border: none;
        color: white;
        background-color: #3C190B;
        padding: 8px 10px;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }

    @include tablet {
        display: none;
    }
}

.tablet-learn-more {
    display: none;


    @include tablet {
        width: 100%;
        display: block;

        &__button {
            border-radius: 10px;
            outline: none;
            border: none;
            color: white;
            background-color: #3C190B;
            padding: 8px 10px;
            width: 100%;
            font-weight: bold;
            font-size: 20px;
            margin-top: 8px;
            cursor: pointer;
        }
    }
}

.App {
    background-image: url('./assets/images/woodenbackground1.jpeg');
    background-size: cover;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
}

.page-title {
    font-size: 70px;
    color: $DarkBrown;
    font-weight: bold;
    margin: 8px 0px 6px 0px;
    line-height: 62px;
    position: relative;
    z-index: -1;

    @include tablet {
        font-size: 77px;
    }
}

.page-subtitle {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0px 11px 0px;
    color: #3C190B;
    line-height: 30px;

    @include tablet {
        font-size: 41px;
        line-height: 35px;
    }
}

.auth {
    height: 700px;
    position: relative;
    top: 140px;
    padding: 16px;
    z-index: -1;

    &__title {
        font-size: 30px;
        font-weight: bold;
        border-bottom: 2px solid $DarkBrown;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    @include tablet {
        top: 150px;
        padding: 50px;

        &__title {
            font-size: 40px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__section {
        display: flex;
        flex-direction: column;

        &--label {
            font-size: 20px;
            padding-top: 12px;
            font-weight: bold;
        }

        &--input {
            border-radius: 10px;
            padding: 6px 10px;
            outline: none;
            border: none;

            &:focus {
                border: 1px solid $DarkBrown;
                outline: none;
            }
        }
    }

    &__button {
        margin-top: 12px;
        color: $LightBrown;
        background-color: $DarkBrown;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 8px 0px;
        font-size: 20px;
    }

    @include tablet {
        align-items: flex-end;
        padding: 0% 25%;

        &__section {
            flex-direction: row;
            padding-top: 16px;
            width: 100%;
            justify-content: flex-end;

            &--label {
                padding-right: 10px;
            }

            &--input {
                width: 60%;
            }
        }

        &__button {
            width: 40%;
            align-self: flex-end;
        }
    }
}